/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#titulo__principal {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 7.5rem;
    color: white;
}
#subtitulo__principal {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2.210rem;
    color: white;
}

.texto__busca {
    color: white;
    font-size: 20px;
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.strong__vermelho{
    color: red;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa iframe{
    padding-top: 2.5rem;
    border-radius: 1.313rem;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    background-image: url('giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section {
    text-align: center;
    padding: 10px;
}

/* Estilos para o container de busca */
.search-container {
    display: inline-block;
    background-color: #424242;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* Estilos para o campo de pesquisa */
#search-input {
    padding: 10px;
    border: 1px solid #242424;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
}

/* Estilos para o botão de busca */
#search-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para o botão de busca quando hover */
#search-button:hover {
    background-color: #610000;
}